html {
    min-height: 100%
    }
body {
    min-height: 100%;
	margin:0;
	padding:0;
	font: 15px Tahoma;
	color:#555;
    }
#top{
	width:100%;
	background: #222;
	text-align:center;
	height:35px;
	line-height:35px;
	}
#top a{color:#00FF00;text-decoration:none;}
 
 a.first {
	color: #fff;
    height: 0.5%;
    position: fixed;
    right: 0; top: 0;
    display: flex;
    justify-content: center;
    align-items: center;  
	user-select: none;
	text-decoration: none;
	outline: none;
	background-color: #fa8e47;
	padding: 1em 2em;
	}
	a.nubex:active {
	background-color: #ee6206;
	}
	a.nubex:hover {
	background-color: #f97f2e;
	}
    
a.second {
	color: #fff;
    position: fixed;
    height: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;   
    left: 79%; top: 0;
	user-select: none;
	text-decoration: none;	
	outline: none;
	background-color: #fa8e47;
	padding: 1em 2em;
	}
	a.nubex:active {
	background-color: #ee6206; 
	}
	a.nubex:hover {
	background-color: #f97f2e;
	}
    
a.third {
	color: #fff;
    position: fixed;
    height: 0.5%;
    display: flex;
    justify-content: center; 
    align-items: center;     
    left: 65%; top: 0;
	user-select: none; 
	text-decoration: none;	
	outline: none; 
	background-color: #fa8e47;
	padding: 1em 2em;
	}
	a.nubex:active {
	background-color: #ee6206;
	}
	a.nubex:hover {
	background-color: #f97f2e; 
	}
    
/*Меню*/ 
.top_menu {height:60px;position:relative;}
.colum_menu{margin:0;padding:0;list-style:none;}
.colum_menu ul{line-height:35px;width:100%;}
.colum_menu ul li{border-bottom:none;}
.colum_menu ul li a{padding-left:60px;}
.colum_menu a{color:#fff;text-decoration:none;display:block;max-height:60px;line-height:35px;overflow:hidden;}
#sideNav  i{line-height:60px;font-size:22px;color:#fff;margin:0 17px;}
#sideNav ul{list-style:none;}
.colum_menu a:hover {color:#fff;background:#5b6064;}	
.icon-menu{color:#333;display:block;}

#sideNav{position:fixed;left:0;top:0;width:60px;height:100%;z-index:99;background:#2B303B;overflow-x:hidden;overflow-y:auto;-webkit-transition: 0.2s ease;transition: 0.2s ease;}
#sideNav.showFullMenu {left:0;width:311px;}
.showFullMenu .srch i{display:none;}
.colum_menu li{width:100%;margin:0;position:relative;}
.colum_menu li a {}
.showFullMenu #searchform,.showFullMenu .groupinsoc,.showFullMenu .colum_menu .menu{display:block;}
.colum_menu .menu{margin-top:25px;display:none;}
.colum_menu .menu  li{position:relative;}
.colum_menu .menu li a{color:#fff;padding:0 15px;font-size:16px;font-weight:bold;}

#searchform{display:none;width:250px;margin-left:60px;}
#s{border:none;border-bottom:1px solid #bbb;width:180px;line-height:40px;height:40px;color:#fff;background:transparent;padding:0 5px;margin-right:-4px;}
#s::-webkit-input-placeholder{color:#fff;font-size:15px;}
#s::-moz-placeholder {color:#fff;font-size:15px;}
#s:focus::-webkit-input-placeholder {color:transparent;}
#s:focus::-moz-placeholder{color:transparent;}

#searchform .sim{border:none;padding:5px;background:#4686F2 url(search.png) no-repeat center;width:35px;height:35px;-webkit-border-radius:50px;border-radius:50px;-webkit-transition: all 0.8s ease-in-out;transition: all 0.8s ease-in-out;}
#searchform .sim:hover{-webkit-transform: rotate(360deg);transform: rotate(360deg);}

.flow > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-family: "Times New Roman";
  font-size: 1rem;
  border-radius: 0;
  width: 400px;
  outline: 0;
  -webkit-appearance: none;
}

.flow {
  top: 7%;
  left: 5%;
  display: -webkit-box;
  display: flex;
  position: fixed;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.comp_form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-family: "Times New Roman";
  font-size: 1rem;
  border-radius: 0;
  width: 400px;
  outline: 0;
  -webkit-appearance: none;
}

.telo{
    top: 7%;
    left: 50%;
    display: -webkit-box;
  display: flex;
  position: fixed;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.telo > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-family: "Times New Roman";
  font-size: 1rem;
  border-radius: 0;
  width: 400px;
  outline: 0;
  -webkit-appearance: none;
}

.achiev {
  top: 7%;
  left: 15%;
  display: -webkit-box;
  display: flex;
  position: fixed;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.btn { 
    width: 100px;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;  
	user-select: none;
    background: #EE7373;
}

.btn:hover {
  background: #F16565;
  color: #fff;
}

.flow_table {
  position: fixed;
  top: 20%;
  left: 5%;
}
.pract_table {
  position: fixed;
  top: 40%;
  left: 50%;
}
.table_dark {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  width: 400px
  text-align: left;
  border-collapse: collapse;
  background: #252F48;
  margin: 10px; 
}
.table_dark th {
  color: #EDB749;
  border-bottom: 1px solid #37B5A5;
  padding: 12px 17px;
}
.table_dark td {
  color: #CAD4D6;
  border-bottom: 1px solid #37B5A5;
  border-right:1px solid #37B5A5;
  padding: 7px 17px;
}
.table_dark tr:last-child td {
  border-bottom: none;
}
.table_dark td:last-child {
  border-right: none;
}
.table_dark td:hover {
    text-decoration: underline;
}

.flows_data {
    color: #CAD4D6;
    text-decoration: none;
}
.flows_data: visited {
    color: #CAD4D6;
    text-decoration: none;
}